<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin page</title>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      $(document).ready(() => {
        var socket = io();
        $('#sl-quang-cao').change(() => {
          var src = $('#sl-quang-cao').val();
          $('#img-quang-cao').attr('src', `images/${src}`);
        });

        $('#btn-send').click(() => {
          var src = $('#sl-quang-cao').val();
          socket.emit('ADMIN_CHANGE_AD', src);
        });

        socket.on('CLICK_TO_ADMIN', ad => {
          console.log(ad);
          $(`#li${ad.id}`).html(`${ad.ten}: ${ad.click}`);
        });

        socket.on('FIRST_FOR_ADMIN', ad => {
          $('#sl-quang-cao').val(ad.hinh);
          $('#img-quang-cao').attr('src', 'images/'+ad.hinh);
        });

        // setInterval(() => {
        //   var src = $('#sl-quang-cao').val();
        //   socket.emit('ADMIN_CHANGE_AD', src);
        // }, 10000);
        $('#get-option').click(() => {
          var mang = $('option');
          var arrValue = mang.map(e => $(e).attr('value'));
          console.log(arrValue.prevObject[1].value);
        })
      });
    </script>
    <style media="screen">
      hr{
        visibility: hidden;
      }
    </style>
  </head>
  <body>
    <select id="sl-quang-cao">
      <option>--Choose your ad--</option>
      <%mangQuangCao.forEach(e => {%>
        <option value="<%=e.hinh%>"><%=e.ten%></option>
      <%})%>
    </select>
    <button id="btn-send">Gui</button>
    <hr>
    <img id="img-quang-cao"/>
    <ul id="list-item">
      <%mangQuangCao.forEach(e => {%>
        <li id="li<%=e.id%>"><%= e.ten%>: <%=e.click%></li>
      <%})%>
    </ul>
    <button id="get-option">Get all Option</button>
  </body>
</html>
